<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988546419416-d96bv3qjmp7l298bg8u1peoavjgd1ace.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988546419416-d96bv3qjmp7l298bg8u1peoavjgd1ace</string>
	<key>API_KEY</key>
	<string>AIzaSyC_YRN52rMtiAPGSXy0fKI125gw24611vE</string>
	<key>GCM_SENDER_ID</key>
	<string>988546419416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Svetlana.petagram</string>
	<key>PROJECT_ID</key>
	<string>petagramdb</string>
	<key>STORAGE_BUCKET</key>
	<string>petagramdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:988546419416:ios:887e505e829053087525ad</string>
	<key>DATABASE_URL</key>
	<string>https://petagramdb.firebaseio.com/</string>
</dict>
</plist>
